<div class="row full-height">

    <!-- Left box-->
    <div class="col-12 col-md-6 d-flex flex-column mt-5 float-start ">

        <div class="ps-4 ">

            <!-- setting profile-->

            <div *ngIf="!validateProfileInfofields()">
                <div class="d-flex ">
                    <div class="d-flex justify-content-center col col-2">
                        <i class="fa-solid fa-arrow-left text-color"></i>
                    </div>
                    <div class="col col-10">
                        <h6 class="text-color ">¡Hola! Configuremos tu perfil</h6>
                    </div>

                </div>

                <div class="d-flex">

                    <div class="col col-2">

                    </div>
                    <div class="col col-10">
                        <p class="text-muted text-size-xsm ">Queremos conocerte mejor.</p>
                    </div>

                </div>

            </div>

            <!-- end of setting profile-->


            <!-- almost there-->
            <div *ngIf="validateProfileInfofields() && !editMode">
                <!-- if profileTrainer has data -->
                <div class="ps-4 mb-4">
                    <div class="d-flex ">
                        <div class="d-flex justify-content-center col col-2">
                            <i class="fa-solid fa-arrow-left text-color"></i>
                        </div>
                        <div class="col col-10">
                            <h6 class="text-color ">¡Ya casi términamos!</h6>
                        </div>

                    </div>

                    <div class="d-flex">

                        <div class="col col-2">

                        </div>
                        <div class="col col-10">
                            <p class="text-muted text-size-xsm">Revisa la información, y completa lo solicitado.</p>
                        </div>

                    </div>

                </div>

            </div>

            <!--end of almost there-->

            <app-card> </app-card>

        </div>











    </div>
    <!-- right box-->
    <div class="col-12 col-md-6 mt-5 float-start ">

        <div *ngIf="!validateProfileInfofields() || editMode">
            <div class="mt-5 ms-4">
                <div class="d-flex ">

                    <div class="col col-10">
                        <h5 class="text-color ">Tu información</h5>
                    </div>

                </div>

                <div class="d-flex">


                    <div class="col col-10">
                        <p class="text-muted small ">Completa la siguiente información para completar tu perfil.</p>
                    </div>

                </div>

            </div>

            <div class="">

                <app-form></app-form>
            </div>
        </div>

        <!-- Select pokemons-->

        <div *ngIf="(validateProfileInfofields() && !editMode) || (validateProfileInfofields() && !editModePokemon)">
            <div class="mb-5
        ">
                <div class="d-flex ">

                    <div class="col col-10">
                        <h6 class="text-color ">Pokémon</h6>
                    </div>

                </div>

                <div class="d-flex">


                    <div class="col col-10">
                        <p class="text-muted text-size-xsm">Selecciona 3 Pokémon para que sean parte de tu equipo.</p>
                    </div>

                </div>

                <div class="d-flex">
                    <form class="d-flex w-100" role="search">
                        <input #searchBox class="form-control form-control-sm me-2 bg-light small" type="search"
                            placeholder=" Buscar por índice, nombre..." aria-label="Search"
                            (input)="onSearchChange(searchBox.value)" />

                    </form>

                </div>

            </div>

        </div>


        <div class="px-5 "
            *ngIf="(validateProfileInfofields() && !editMode) || (validateProfileInfofields() && !editModePokemon)">
            <app-selection></app-selection>
        </div>
    </div>

</div>