<div class="col col-6 trainer-card  px-4 py-5 rounded-5 m-auto">

    <p class="user-name text-center"> Jose Luis</p>
    <div class="d-flex justify-content-center mb-3">
        <div class="div-img d-flex justify-content-center align-items-center  rounded-circle overflow-hidden"
            style="width: 120px; height: 120px;">
            <img src="assets/no_profile.webp" alt="Foto de perfil" class="w-100 h-100" style="object-fit: cover;">
        </div>

    </div>



    <div class="m-0 p-0 d-none">
        <div class="d-flex justify-content-between m-0 p-0">
            <strong>
                <p class="size-md">
                    Pasatiempo:
                </p>
            </strong>

            <p class="size-md">
                Ver series

            </p>
        </div>

        <div class="d-flex justify-content-between">
            <strong>
                <p class="size-md">
                    Edad:
                </p>
            </strong>

            <p class="size-md">
                18

            </p>
        </div>


        <div class="d-flex justify-content-between">
            <strong>
                <p class="size-md">
                    DUI:
                </p>
            </strong>

            <p class="size-md">
                05643215-9

            </p>
        </div>

    </div>

    <div class="d-flex div-add-file rounded px-2 py-1 ">
        <div class="d-flex  col col-12 justify-content-between">

            <!-- Input-->

            <div>
                <label for="add-file" class="size-sm text-color">Adjunta una foto</label>
                <input type="file" id="add-file">
            </div>


            <!--  end of input-->

            <div class="d-none">
                <i class="fa-solid fa-trash  size-sm"></i>
            </div>

            <div class="">
                <i class="fa-solid fa-cloud-arrow-up  size-sm"></i>
            </div>
        </div>

    </div>

</div>