<div class="col col-6 trainer-card  px-4 py-4 rounded-5 m-auto">


    <!-- Registration completed-->

    <div class="d-flex justify-content-between  mb-2 " *ngIf="validateProfileInfofields()">
        <!-- title -->
        <div>
            Entrenador
        </div>

        <!-- badge-->
        <div>

            <img src="assets/badge.png" alt="badge.png" height="30">

        </div>
    </div>

    <!-- no registration completed-->
    <div class="" *ngIf="validateProfileInfofields()">
        <p class="user-name text-center"> {{trainerProfile?.name}}</p>
    </div>


    <div class="d-flex justify-content-center mb-5">
        <div class="div-img d-flex justify-content-center align-items-center  rounded-circle overflow-hidden"
            style="width: 120px; height: 120px;">
            <img [src]="profileImageUrl" alt="profile_picture" class="w-100 h-100" style="object-fit: cover;">
        </div>

    </div>






    <div class="m-0 p-0" *ngIf="validateProfileInfofields()">
        <div class="d-flex m-0 p-0 justify-content-between">
            <strong>
                <p class="text-size-xsm ">
                    Pasatiempo:
                </p>
            </strong>

            <p class="text-size-xsm">
                {{this.trainerProfile?.hobbie}}

            </p>
        </div>

        <div class="d-flex justify-content-between">
            <strong>
                <p class="text-size-xsm">
                    Edad:
                </p>
            </strong>

            <p class="text-size-xsm">
                {{age}}
            </p>
        </div>


        <div class="d-flex justify-content-between" *ngIf="age !== null && age >= 18">
            <strong>
                <p class="size-md">
                    DUI:
                </p>
            </strong>

            <p class="size-md">
                {{trainerProfile?.dui}}

            </p>
        </div>

    </div>

    <div class="d-flex div-add-file rounded px-2 py-1 " *ngIf="!validateProfileInfofields() || editMode">
        <div class="d-flex  col col-12 justify-content-between">

            <!-- Input-->

            <div>
                <label for="add-file" class="size-sm text-color">Adjunta una foto</label>
                <input type="file" id="add-file" (change)="onImageSelected($event)">
            </div>


            <!--  end of input-->

            <div *ngIf="profileImageUrl!='assets/no_profile.webp'" class="" (click)="resetProfileImage()">
                <i class="fa-solid fa-trash  size-sm"></i>
            </div>

            <div class="" *ngIf="profileImageUrl=='assets/no_profile.webp'">
                <i class="fa-solid fa-cloud-arrow-up  size-sm"></i>
            </div>
        </div>

    </div>

</div>