<div class="pokemon-grid px-1 py-0">
    <div *ngFor="let pokemon of pokemons" class="pokemon-card" [ngClass]="{'selected': isSelected(pokemon)}"
        (click)="togglePokemon(pokemon)">

        <div class="pokemon-image-container">
            <img [src]="pokemon.image" alt="{{ pokemon.name }}" height="60" />
        </div>

        <div class="pokemon-label d-flex flex-column align-items-center mt-1">
            <span class="number text-size-xsm">#{{ pokemon.number | number:'3.0' }}</span>
            <span class="name text-size-xsm">{{ pokemon.name }}</span>
        </div>


    </div>


</div>

<!-- Submit -->
<div class="d-flex justify-content-center m-0">
    <button class="btn  btn-muted custom-width-btn mt-3 text-size-xsm " (click)="OnSubmit()">Guardar</button>
</div>