<nav class="mobile-navbar bg-body-white shadow-bottom py-2 mt-2">
    <div class="container-fluid d-flex flex-row justify-content-between">
        <img src="assets/pokemon_logo.png" alt="pokemon_logo.png" height="30">

        <div class="d-flex  div-border rounded justify-items-center " type="button">
            <div class="d-flex px-3">
                <div class="me-2">

                    <h6 class="text-color" *ngIf="validateProfileInfofields()">{{trainerProfile?.name}}</h6>
                </div>
                <div>
                    <strong><i class="fa-solid fa-arrow-down text-color"></i></strong>
                </div>
            </div>
        </div>
        <div class="d-flex " role="search">

            <div class=" d-flex align-items-center">
                <i class="fa-solid fa-magnifying-glass text-color"></i>
            </div>
        </div>
    </div>
</nav>