/* You can add global styles to this file, and also import other style files */


:root {
    --primary-blue-00: #01426A;
    --muted-color: #d3d3d3;
}

/*font-family for all project*/
* {
    font-family: 'Poppins', sans-serif;
}

.full-height {
    min-height: 100vh;
}

.btn-muted {
    background-color: var(--muted-color);
    color: #444;
    border: none;
}

.btn-muted:hover {
    background-color: #01426A;
    color: white;
    font-weight: bold;
}

.text-size-xsm {
    font-size: x-small;
}