/* You can add global styles to this file, and also import other style files */


:root {
    --primary-blue-00: #01426A;
    --muted-color: #d3d3d3;
}

/*font-family for all project*/
* {
    font-family: 'Poppins', sans-serif;
}